$border_color: #ddd;

.fc-calendar-container {
  position: relative;

  &.embedded {
    margin: 0;
    display: flex;
    flex-direction: column;

    header {
      order: 1;
      flex-shrink: 0;
    }

    section {
      order: 2;
      overflow-y: auto;
    }
  }

  .btn {
    width: inherit;
  }
}

.fc-calendar {
  background-color: white;
  width: 100%;
  height: 100%;
  .fc-head {
    height: 30px;
    line-height: 30px;
    color: black;
  }
  .fc-body {
    position: relative;
    width: 100%;
    height: 100%;
    height: calc(100% - 30px);
    border: 1px solid $border_color;
  }
  .fc-row {
    width: 100%;
    border-bottom: 1px solid $border_color;
    > div {
      border-right: 1px solid $border_color;
      padding: 4px;
      overflow: hidden;
      position: relative;
    }
    .fc-date {
      display: block;
      font-size: 18px;
      text-align: right;
    }
    .fc-weekday {
      padding-left: 5px;
      display: none;
    }
    .fc-today {
      .fc-date {
        font-weight: bold;
        color: red;
      }
    }
  }
  .fc-row:last-child {
    border-bottom: none;
  }

  // Month, Week
  .Sun, .Sat {
    background-color: whitesmoke;
  }

  // Month, Week
  .other_month {
    color: lightgray;
  }
}

// Day, Month
.fc-day-view, .fc-week-view {
  .fc-row {
    height: 240px;
  }
}

// Month:
.fc-month-view {
  .fc-row {
    height: 140px;
  }
}

.fc-calendar .fc-row >div,
.fc-calendar .fc-head >div {
  float: left;
  height: 100%;
  width: 14.28%;
  width: calc(100%/7);
  position: relative;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
  border-right: none;
}

.vertical {
  .fc-calendar-container,
  .fc-calendar,
  .fc-calendar .fc-head,
  .fc-calendar .fc-row > div > span.fc-date {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    height: auto;
    width: auto;
  }
  .fc-calendar {
    .fc-event {
      display: inline-block;
    }
  }
  .fc-calendar .fc-row,
  .fc-calendar .fc-row > div {
    height: auto;
    width: 100%;
    border: none;
  }
  .fc-calendar .fc-row > div {
    border-bottom: 1px solid $border_color;
  }
  .fc-calendar .fc-row > div {
    float: none;
    min-height: 50px;
    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2) !important;
  }
  .fc-week-view .fc-row > div {
    min-height: 100px;
  }
  .fc-calendar .fc-row {
    box-shadow: none;
  }
  .fc-calendar .fc-head {
    display: none;
  }
  .fc-calendar .fc-row > div > div {
    margin-top: 0px;
    padding-left: 10px;
    max-width: 70%;
    display: inline-block;
  }
  .fc-calendar .fc-row > div.fc-today:after {
    display: none;
  }
  .fc-calendar .fc-row > div > span.fc-date {
    display: inline-block;
    text-align: right;
  }
  .fc-calendar .fc-row > div > span.fc-weekday {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
  }
}
